.wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.block {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.btn {
  padding: 8px 12px;
  background-color: #f3f4f6;
  color: #333;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.parent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 100px;
  background-color: #d6d6d6;
  border-radius: 16px;
  color: rgb(34, 0, 255);
  cursor: pointer;
}
